// FONT IMPORTS
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans_regular.eot');
    src: url('fonts/opensans_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular.woff') format('woff'),
         url('fonts/opensans_regular.ttf') format('truetype'),
         url('fonts/opensans_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans_bold.eot');
    src: url('fonts/opensans_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_bold.woff') format('woff'),
         url('fonts/opensans_bold.ttf') format('truetype'),
         url('fonts/opensans_bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
} 
 
// COMPASS IMPORTS
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

// VARS
$fontOpenSans: 'OpenSans', Helvetica, Arial, sans-serif;

$colorBlue: #225FA5;
$colorDarkBlue: #1E4778;
$colorLightBlue: #669AD7;